
{% load static %}

<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>A+ CINEMA </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,900,700,900italic' rel='stylesheet' type='text/css'> -->

	<!-- Stylesheets -->
	<!-- Dropdown Menu -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/superfish.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cs-select.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cs-skin-border.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">

	

	<!-- Style -->
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/css/footer.css' %}">


	<!-- Modernizr JS -->
	
</head>
<body >
	
	{% block content %}

	


	{% endblock %}



	
</body>


<!-- <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/owl.theme.default.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/hover.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js.js' %}"></script>
<script src="{% static 'js/jquery.flexslider-min.js.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js.js' %}"></script>



<script src="{% static 'js/selectFx.js' %}"></script>


<!-- Javascripts -->
<script src="../static/js/jquery-2.1.4.min.js"></script>
<!-- Dropdown Menu -->
<script src="../static/js/hoverIntent.js"></script>
<script src="../static/js/superfish.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Counters -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Stellar Parallax -->
<script src="../static/js/jquery.stellar.min.js"></script>
<!-- Owl Slider -->
<!-- // <script src="../static/js/owl.carousel.min.js"></script> -->
<!-- Date Picker -->
<script src="../static/js/bootstrap-datepicker.min.js"></script>
<!-- CS Select -->
<script src="../static/js/classie.js"></script>
<script src="../static/js/selectFx.js"></script>
<!-- Flexslider -->
<script src="../static/js/jquery.flexslider-min.js"></script>

<script src="../static/js/custom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>